<div class="h-[calc(100vh-64px-56px)] px-2">
  <div class="grid h-full grid-cols-1 md:grid-cols-2 grid-rows-2 gap-6">

    <!-- Predicciones de calorias -->
    <div class="rounded-xl p-3 bg-gradient-to-br from-purple-500 to-blue-500 shadow-lg flex flex-col h-full">
      <h2 class="text-white text-xl font-semibold mb-3">
        Predicciones de calorías
      </h2>

      <!-- CONTENEDOR CENTRAL -->
      <div class="flex-1 min-h-0 flex items-center justify-center">
        @if (predictions.length > 0) {
        <app-chart-prediction [predictions]="predictions" [unit]="unidad">
        </app-chart-prediction>
        } @else {
        <p class="text-white text-lg font-semibold opacity-80 text-center">
          Aún no tenemos predicciones
        </p>
        }
      </div>

      <button class="btn btn-soft btn-success btn-lg mt-3 w-full" (click)="PredictionCalories()">
        Predecir
      </button>
    </div>


    <!-- Weekly -->
    <div class="rounded-xl p-3 bg-gradient-to-br from-purple-500 to-blue-500 shadow-lg flex flex-col h-full">
      <h2 class="text-white text-xl font-semibold mb-3">
        Predicciones de velocidad media
      </h2>

      <!-- CONTENEDOR CENTRAL -->
      <div class="flex-1 min-h-0 flex items-center justify-center">
        @if (predictionsVM.length > 0) {
        <app-chart-prediction [predictions]="predictionsVM" [unit]="unidadVM">
        </app-chart-prediction>
        } @else {
        <p class="text-white text-lg font-semibold opacity-80 text-center">
          Aún no tenemos predicciones
        </p>
        }
      </div>

      <button class="btn btn-soft btn-success btn-lg mt-3 w-full" (click)="PredictionCalories2()">
        Predecir
      </button>
    </div>

    <!-- Peso -->
    <div class="rounded-xl p-3 bg-gradient-to-br from-purple-500 to-blue-500 shadow-lg flex flex-col h-full">
      <h2 class="text-white text-xl font-semibold mb-3">
        Predicciones de calorías
      </h2>

      <!-- CONTENEDOR CENTRAL -->
      <div class="flex-1 min-h-0 flex items-center justify-center">
        @if (predictions.length > 0) {
        <!-- <app-chart-prediction [predictions]="predictions" [unit]="unidad">
        </app-chart-prediction> -->
        } @else {
        <p class="text-white text-lg font-semibold opacity-80 text-center">
          Aún no tenemos predicciones
        </p>
        }
      </div>

      <button class="btn btn-soft btn-success btn-lg mt-3 w-full" (click)="PredictionCalories2()">
        Predecir
      </button>
    </div>

    <!-- Anual -->
    <div class="rounded-xl p-3 bg-gradient-to-br from-purple-500 to-blue-500 shadow-lg flex flex-col h-full">
      <h2 class="text-white text-xl font-semibold mb-3">
        Predicciones de calorías
      </h2>

      <!-- CONTENEDOR CENTRAL -->
      <div class="flex-1 min-h-0 flex items-center justify-center">
        @if (predictions.length > 0) {
        <!-- <app-chart-prediction [predictions]="predictions" [unit]="unidad">
        </app-chart-prediction> -->
        } @else {
        <p class="text-white text-lg font-semibold opacity-80 text-center">
          Aún no tenemos predicciones
        </p>
        }
      </div>

      <button class="btn btn-soft btn-success btn-lg mt-3 w-full" (click)="PredictionCalories2()">
        Predecir
      </button>
    </div>

  </div>
</div>