<div class="navbar bg-blue-500 shadow-sm">
  <div class="navbar-start">
    <a class="btn btn-ghost text-3xl text-white" [routerLink]="['/sport/user-sport', idRuta()]">
      SportPerformance
    </a>
  </div>

  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li>
        <a [routerLink]="['/sport/user-sport', idRuta()]" routerLinkActive="active bg-blue-300"
          [routerLinkActiveOptions]="{ exact: true }">
          Métricas
        </a>
      </li>

      <li>
        <a [routerLink]="['/sport/user-metrics', idRuta()]" routerLinkActive="active bg-blue-300"
          [routerLinkActiveOptions]="{ exact: true }">
          Predicciones
        </a>
      </li>
      <li>
        <a [routerLink]="['/sport/load-data', idRuta()]" routerLinkActive="active bg-blue-300"
          [routerLinkActiveOptions]="{ exact: true }">
          LoadTraining
        </a>
      </li>
    </ul>
  </div>

  <div class="navbar-end">
    <button class="btn btn-ghost">{{authService._user()?.nameuser}}</button>
    <button class="btn btn-error" (click)="exit()">Logout</button>
  </div>
</div>