<div class="navbar bg-blue-500 shadow-sm">
  <div class="navbar-start">
    <a class="btn btn-ghost text-3xl text-white" [routerLink]="['/sport/user-sport', idRuta()]">
      SportPerformance
    </a>
  </div>

  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li>
        <a [routerLink]="['/sport/user-sport', idRuta()]">
          Perfil
        </a>
      </li>

      <li>
        <a [routerLink]="['/sport/user-metrics', idRuta()]">
          Métricas
        </a>
      </li>
    </ul>
  </div>

  <div class="navbar-end">
    <a class="btn btn-secondary" (click)="exit()">Logout</a>
  </div>
</div>